.preload-product-list {
  display: flex;
  margin-bottom: 24px;

  .preload-product-item {
    width: 20%;
    flex-wrap: wrap;
    background: #ffffff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;

    @include desktop-small {
      width: 25%;

      &:last-child {
        display: none;
      }
    }
  ;

    @include tablet {
      width: 33.33%;

      &:last-child,
      &:nth-child(4) {
        display: none;
      }
    }
  ;

    @include mobile {
      width: 50%;

      &:last-child,
      &:nth-child(4),
      &:nth-child(3) {
        display: none;
      }
    }
  ;

    .image {
      height: 150px;
      width: 100%;
      margin-bottom: 16px;
      opacity: .5;
    }

    .title {
      height: 24px;
      margin-bottom: 100px;
      opacity: .5;
    }

    .price {
      height: 20px;
      width: 50%;
      margin-bottom: 16px;
      opacity: .5;
    }

    .button {
      height: 40px;
      border-radius: 5px;
      opacity: .3;
    }
  }
}

.main-content.active {
  .preload-product-item {
    width: 25%;
    
    @include desktop-small {
      width: 33.33%;
      
      &:nth-child(4) {
        display: none;
      }
    };
  }
  
  .preload-product-item:last-child {
    display: none;
  }
}

.category-page.level-2 {
  .preload-product-list {
    padding: 0 32px;
    
    @include tablet {
      padding: 0 16px;
    };
  }
}