.ui.button {
  font-weight: normal;
  border-bottom: 3px solid rgba(0,0,0,0.2);
  
  @include tablet {
    &:active {
      opacity: .7;
    }
  };
}
.ui.button.brown {
  background: $brown;
}
.ui.button.green {
  background: $green;
}
