@import '../../styles/variable';
@import '../../styles/mixin';

.billing-address-wrap {
  background: $white;
  padding: 29px 39px;
  box-shadow: $box-shadow;
  border: solid 1px $gray-light;
  @include tablet{
    padding: 15px 10px;
  }
  @include mobile {
    margin-bottom: $component-margin;
  }
  @include tablet {
    margin-bottom: $component-margin;
  }
  .tax-title {
    color: $red-bright;
    font-size: 16px;
    font-weight: bold;
  }
  .order-remark-desktop, .ui.section.divider {
    @include tablet{
      display: none;
    }
    @include desktop {
      display: block;
    }
  }
  @include desktop {
    .ui.section.divider {
      margin-top: 20px !important;
      margin-bottom: 17px !important;
    }
  }
}
