@import '../../styles/all';

.ui.button.mt-bm-icon {
  padding: 0;
  box-shadow: none;
  &:hover {
    background: none !important;
    box-shadow: none;
  }
}

.mt-bm-icon {
  & span {
    width: 20px;
    height: 3px;
    background-color: $black;
    margin: 3px 0;
    display: block;
  }
}

.ui.segment.mt-siderbar {
  border: none;
  box-shadow: none;
}
