.reset-password-content {
  .reset-password-wrap {
    width: 100%;
    max-width: 996px;
    margin: 120px auto 0;
    background: #fff;
    border-top: 2px solid $red;

    @include desktop-small {
      margin-top: 90px;
    }
    
    @include tablet {
      padding: 0 15px;
      margin: 90px 10px 0 10px;
      width: inherit;
    }

    @include mobile {
      margin-top: 70px;
    }
  }
  .content-section {
    margin-bottom: 20px;

    .title {
      color: #3aa03f;
      @include mobile {
        font-size: 25px;
      }
    }
  }

  .center {
    text-align: center;
  }

  .side-bar-content {
    @include desktop {
      display: none;
    }
  }
}