.wl-mobile-buy-button {
    width: 186px;
    height: 40px;
    object-fit: contain;
    border-radius: 6px;
    background-color: #007a33;
    box-shadow: 0px 3px 0 0 #00451d;
    color: white;
    border: none;
    padding-top: 5px;
    cursor: pointer;
}

.wl-mobile-buy-button__container {
    display: flex;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.wl-mobile-list-controls {
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    margin-bottom: 10px;

    

}

.wl-mobile-list-controls--column {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 1px solid transparent;

    &:first-child {
        border-right: 1px solid #e2e2e2;
    }
}

.wl-mobile-list-view-control {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.wl-mobile-list-controls--grid-view,
.wl-mobile-list-controls--list-view {
    cursor: pointer;
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

.wl-mobile-list-controls--grid-view-text,
.wl-mobile-list-controls--list-view-text {

}

.wl-mobile-mask {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5)
}

.wl-mobile-buy-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: white;
}
