.promo-image {
    display: inline-block;
    margin: 5px;
    width: 45px;
    vertical-align: bottom;
}

.promo-badges-names {
    font-size: 18px;
    color: #808080;
    margin-top: 15px;
    line-height: 20px;
}