.shipping-method-preloader {
    display: flex;
    flex-direction: row;
    .animated-background {
      width: 218px;
      height: 91px;
      margin-bottom: 17px;
      background: linear-gradient(to right, #e3e4e3 8%, #ffffff 18%, #e3e4e3 33%);
      background-size: 900px 104px;
      border-radius: 5px;
    }
  }