.cart-icon {
  .m-cart {
    width: 20px;
    height: 20px;
    background: url('/assets/icons/baseline-shopping-cart-24-px.svg');
    background-size: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    right: 35px;

    span {
      width: 30px;
      height: 22px;
      border-radius: 20px;
      background-color: $red;
      border: solid 1px $red;
      color: #fff;
      font-size: 11px;
      position: absolute;
      top: 0;
      line-height: 14px;
      text-align: center;
      right: -35px;
      padding-top: 3px;
    }
  }
}
